body {
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: black;
}

.progress_bar {
  margin: auto;
  width: 450px;
  height: 15px;
  box-shadow: 0px 0px 4px #ffffffd1;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}
.progress_bar:before {
    content: '';
    width: 200%;
    height: 100%;
    position: absolute;
    animation: progress-anime 10s ease-out infinite;
    background: linear-gradient(to right, #7ff224 0%,#4c6f12 50%,#d2d2d2 50%,#d2d2d2 100%);
}

@keyframes progress-anime {
    0% {left: -100%;}
    75% {left: -5%;}
    85% {left: -5%;}
    95% {left: 0;}
}