body{
    background-color: black;
}
.rating-bar-container{
    display: table;
    margin: 3em auto;
}
.rating-bar-container__wrapper .rating-bar-container button{
    border-radius: 50%;
    padding: 5px;
    height: 50px;
    width: 50px;
    border: none;
    background:white;
    font-weight: bold;
    transition: .5s linear;
}
.rating-bar-container__wrapper .rating-bar-container button:focus{
    outline: none;
}