body {display: flex;justify-content: center;height: 100vh;margin: 0;background: radial-gradient(circle farthest-corner at center, #2bc43b 0%, #1C262B 100%) no-repeat;}
.ldr {position: relative;width: 64px;height: 64px;border-radius: 50%;margin-top: 15em;}
.in {position: absolute;box-sizing: border-box;width: 100%;height: 100%;border-radius: 50%;}
.in.one {left: 0%;top: 0%;animation: r-1 1s linear infinite;border-bottom: 3px solid #3636f1;}
.in.two {right: 0%;top: 0%;animation: r-2 1s linear infinite;border-right: 3px solid #df1515;}
.in.three {right: 0%;bottom: 0%;animation: r-3 1s linear infinite;border-top: 3px solid #feff07;}
 
@keyframes r-1 {
  0% {transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);}
  100% {transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);}
}

@keyframes r-2 {
  0% {transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);}
  100% {transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);}
}

@keyframes r-3 {
  0% {transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);}
  100% {transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);}
}